@import "../../base.scss";

.root {
 position: sticky;
 top: 0;
 min-height: $header-min-height;
 background-color: $primary-color;
 display: flex;
 justify-content: center;
 align-items: center;
}

.trip {
  height: 100%;
  font-weight: 500;
  text-shadow: 0 2px 8px rgba($color: black, $alpha: 0.3);
  color: rgba($color: white, $alpha: 0.6);
}