@import "../../base.scss";

.root {
 align-content: center;
 margin-bottom: $footer-min-height;
}

.headerList {
  position: sticky;
  top: $header-min-height;
}

.history {
  z-index: -1;
  position: sticky;
}